<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Financeiro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="menu">
        <button class="menu-toggle"><h3>Menu</h3></button>
        <!-- Barra Lateral -->
        <aside class="barra-lateral">
            <nav>
                <ul>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="tasks.html">Tarefas</a></li>
                    <li><a href="finance.html">Financeiro</a></li>
                    <li><a href="feedback.html">Feedback</a></li>
                    <li><a href="registration.html">Cadastro</a></li>
                    <li><a href="login.html" class="btn-submit">Sair</a></li>
                </ul>
            </nav>
        </aside>
    </div>
    <div class="conteudo-principal">
        <main class="conteudo-principal">
            <header>
                <h1>Bem-vindo ao Sistema de Gestão de Funcionários</h1>
            </header>
            <section>
                <p>Aqui você pode gerenciar tarefas, finanças, feedbacks e cadastro de funcionários.</p>
            </section>
        </main>
    </div>
    <div align="center">
        <a href="https://www.imagensanimadas.com/cat-contadores-1778.htm">
            <img src="https://www.imagensanimadas.com/data/media/1778/contador-imagem-animada-0015.gif" border="0" alt="contador-imagem-animada-0015" />
        </a>
    </div>
    <script src="script.js"></script>
</body>
</html>
